<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="An application for getting answers from the perspective of real people"
    />

    <title>Perspect</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1 style="text-align: center">Perspect</h1>
      <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
    </header>

    <main>
      <h2>Top Questions For You</h2>

      <p>
        Q:
        <br>
        A:
        <br>
        Q:
        <br>
        A:
        <br>
        Q:
        <br>
        A:
        <br>
      </p>
    </main>

    <footer>Perspect&#8482;</footer>
  </body>
</html>
